<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened 
        fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/"><!--mat-list-item = vai colocar os icones para fica da forma que queremos, ele vai ficar da forma correta na navegação-->
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item  routerLink="/products"><!--mat-list-item = vai colocar os icones para fica da forma que queremos, ele vai ficar da forma correta na navegação-->
                <i class="material-icons">
                    storefront
                </i>
                Produtos
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content"><!--o sidenav vai navegar e alterar oque estiver dentro de conteudo-->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
