<button mat-raisen-button (click)="navigateToProductCreate()" color="primary">
    Novo Produto
</button>

<app-product-read></app-product-read>



<!--Exemplos de binding
<p [id]="propLegal">product-create works!</p> //se colocar o id entre [] ai sim ele vai fazer um binding de atributo
                                                 com o valor dessa propriedade-->
<!--
<button (click)="fazerAlgo()">Fazer Algo!</button> //click entre () significa que ele vai fazer um binding pra essa função,
                                                      quando tiver um clique nesse botão ele vai chamar essa função-->
